---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";
type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name, education, skills, achievements } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
      <p class="w-auto text-base text-white md:pr-5 whitespace-pre-line">{description}</p>
      <div class="h-80 w-64 flex-shrink-0 rotate-[5deg] bg-white p-4 md:rotate-[7deg]">
        <Image
          class="object-cover"
          src={image}
          width="260"
          height="260"
          alt={name}
        />
      </div>
    </div>

    <div class="mt-6">
      <h3 class="text-xl font-bold text-white mb-4">Skills</h3>
      <div class="space-y-6">
        {Object.entries(skills).map(([category, items]) => (
          <div>
            <h4 class="text-lg font-semibold text-white/90 mb-2">{category}</h4>
            <div class="flex flex-wrap gap-2">
              {items.map(skill => (
                <span class="bg-white text-black text-sm px-3 py-1 rounded-full shadow-sm 
                             transition-transform duration-300 transform 
                             hover:scale-105 hover:-translate-y-1 cursor-pointer">
                  {skill}
                </span>
              ))}
            </div>
          </div>
        ))}
      </div>
    </div>

  
   <div class="mt-6">
      <h3 class="text-xl font-bold text-white mb-4">Achievements</h3>
      <ul class="list-disc list-inside space-y-2 text-white/90">
        {achievements.map(item => (
          <li>{item}</li>
        ))}
      </ul>
    </div>

    <div class="mt-10">
      <h3 class="text-2xl font-bold text-white mb-8 text-center font-serif">My Journey</h3>
      <div class="timeline">
        {education.map((edu, index) => (
          <div class={`timeline-item ${index % 2 === 0 ? 'timeline-item-left' : 'timeline-item-right'}`}>
            <div class="timeline-year">{edu.year}</div>
            <div class="timeline-content">
              <h4 class="font-semibold text-lg text-primary">{edu.degree}</h4>
              <p class="text-neutral text-sm">{edu.institution}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</Section>