---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="My Projects" href="projects">
  <div class="mx-auto max-w-5xl px-4 space-y-12">
    {
      projects.map(({ name, summary, image, linkSource }) => (
        <div class="rounded-2xl bg-white/5 backdrop-blur-sm border border-white/10 shadow-xl transition hover:scale-[1.01]">
          <div class="grid grid-rows-2 sm:grid-rows-1 sm:grid-cols-2 h-[580px] md:h-96">
            <div class="px-6 pt-12">
              <h3 class="mb-5 font-serif text-3xl font-medium text-white">
                {name}
              </h3>
              <p class="text-base text-neutral-200">{summary}</p>
              <div class="flex gap-5 pt-10 text-white">
                <a
                  href={linkSource}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] hover:underline"
                >
                  GitHub Link
                </a>
              </div>
            </div>
            <div class="flex items-end justify-end overflow-hidden">
              <Image
                class="h-full w-[95%] rounded-ss-xl rounded-ee-2xl object-cover sm:h-[85%] sm:w-full"
                src={image}
                alt={name}
                width="736"
                height="483"
              />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Section>
